@font-face {
    font-family: bungeeSpice;
    src: url('./assets/Bungee_Spice/BungeeSpice-Regular.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-size: 1rem;
    background-color: rgb(2, 17, 17);
    /* font-family: bungeeSpice; */
}

.container{
    height: 100svh;
    overflow: hidden;
}

.array-container{
    height: 4.5rem;
    /* border: 2px solid blue; */
    margin: 2rem;
    display: flex;
    justify-content: center;
    /* display: none; */
}

.element{
    width: 5rem;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: bungeeSpice;
    font-weight: bold;
    font-size: 1.1rem;
}

.start-btn-container{
    display: flex;
    justify-content: center;
}

.array-initialize-btn{
    padding: 1rem;
    font-family: bungeeSpice;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 5rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgb(27, 25, 25);
    outline: currentColor;
    border: 0;
}

.array-initialize-btn:hover{
    background-color: black;
    transition: 400ms;
}